In [1]:
import pandas as pd

In [2]:
nec_df = pd.read_csv('../data/near_earth_comets.csv')

In [3]:
nec_df.columns

Index(['Object', 'Epoch (TDB)', 'TP (TDB)', 'e', 'i (deg)', 'w (deg)',
       'Node (deg)', 'q (AU)', 'Q (AU)', 'P (yr)', 'MOID (AU)', 'A1 (AU/d^2)',
       'A2 (AU/d^2)', 'A3 (AU/d^2)', 'DT (d)', 'ref', 'Object_name'],
      dtype='object')

In [4]:
nec_df.shape

(160, 17)

In [12]:
null_values = nec_df.isnull().sum()
null_values[['A1 (AU/d^2)', 'A2 (AU/d^2)', 'A3 (AU/d^2)', 'DT (d)']]

A1 (AU/d^2)    122
A2 (AU/d^2)    119
A3 (AU/d^2)    150
DT (d)         156
dtype: int64

In [13]:
negative_values = (nec_df.select_dtypes(include=['float', 'int']) < 0).sum()
negative_values[['Epoch (TDB)', 'A1 (AU/d^2)', 'A2 (AU/d^2)', 'A3 (AU/d^2)', 'DT (d)']]

Epoch (TDB)     1
A1 (AU/d^2)     8
A2 (AU/d^2)    21
A3 (AU/d^2)     4
DT (d)          3
dtype: int64

Epoch (TDB)     1
A1 (AU/d^2)     8
A2 (AU/d^2)    21
A3 (AU/d^2)     4
DT (d)          3
dtype: int64